In [27]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [34]:
df_climate = pd.read_csv(r'climate.csv')
df_cluster = pd.read_csv(r'cluster.csv')

In [19]:
df_electricity = df_climate[df_climate['Series Name']=='Access to electricity (% of population)']

df_electricity.drop(['Series Name','Country Code','Series Code'],axis =1).set_index('Country Name')

In [31]:
countries = ['East Asia & Pacific','Europe & Central Asia','Latin America & Caribbean',
             'Middle East & North Africa','North America', 'South Asia','Sub-Saharan Africa']

# GDP per capita and mortality rate

# Life expectancy and fertility rate

In [38]:
df_cluster.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '1982 [YR1982]', '1983 [YR1983]', '1984 [YR1984]', '1985 [YR1985]',
       '1986 [YR1986]', '1987 [YR1987]', '1988 [YR1988]', '1989 [YR1989]',
       '1990 [YR1990]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]',
       '2019 [YR2019]', '2020 [YR2020]'],
      dtype='object')

In [40]:
df_cluster['Series Name'].unique()

array(['GDP per capita (current US$)',
       'Life expectancy at birth, total (years)',
       'Fertility rate, total (births per woman)',
       'Mortality rate, infant (per 1,000 live births)', nan,
       'Data from database: World Development Indicators',
       'Last Updated: 04/27/2022'], dtype=object)

In [53]:
df_cluster.dropna(subset=['Series Name','Series Code'],inplace=True)

In [61]:
df_cluster.groupby(['Series Name']).mean()

,1990 [YR1990],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
Series Name,,,,,,,,,,
"Fertility rate, total (births per woman)",3.609621,2.602091,2.576121,2.560562,2.538736,2.515315,2.479801,2.451729,2.424032,2.390942
GDP per capita (current US$),6207.484016,15503.607814,15836.249840,16142.171398,15268.433221,15349.611990,16100.945442,16845.066624,17068.366984,16243.582880
"Life expectancy at birth, total (years)",65.550950,71.915136,72.203172,72.488365,72.674077,72.900311,73.110126,73.311794,73.527363,73.372026
"Mortality rate, infant (per 1,000 live births)",52.871429,25.071429,24.314286,23.528571,22.800000,22.142857,21.385714,20.728571,20.114286,19.500000

In [62]:
df_cluster

,Series Name,Series Code,Country Name,Country Code,1982 [YR1982],1983 [YR1983],1984 [YR1984],1985 [YR1985],1986 [YR1986],1987 [YR1987],...,1990 [YR1990],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,GDP per capita (current US$),NY.GDP.PCAP.CD,Latin America & Caribbean,LCN,2203.19596978731,1888.93104832491,1849.8017118808,1889.49332361777,1866.36771732446,1934.6699512439,...,2506.949535,10198.047992,10340.076074,10433.364826,8630.855690,8352.056223,9188.210030,8905.577986,8705.105315,7243.671777
1,GDP per capita (current US$),NY.GDP.PCAP.CD,East Asia & Pacific,EAS,1219.70307308271,1277.20748054819,1347.50248801464,1400.620996324,1801.38067817866,2081.01361065274,...,2599.815831,9432.513150,9463.486973,9686.883505,9579.474371,9845.914175,10442.859499,11297.706047,11477.761049,11477.491728
2,GDP per capita (current US$),NY.GDP.PCAP.CD,Europe & Central Asia,ECS,4906.7169662401,4733.17076814793,4522.58762511328,4652.54408460944,6311.94954839359,7752.14813928867,...,10519.265028,25132.477298,26147.643556,26388.161512,22624.865112,22455.071837,23704.238014,25297.600676,24906.402294,23963.336341
3,GDP per capita (current US$),NY.GDP.PCAP.CD,Middle East & North Africa,MEA,3117.08655642668,3051.84664192032,3011.41016310893,2991.59208708236,2977.2788462847,2658.32718005934,...,3150.525273,8850.064248,8558.345188,8433.722377,7269.495916,7161.033137,7309.142720,7502.176788,7458.022736,6534.560944
4,GDP per capita (current US$),NY.GDP.PCAP.CD,North America,NAC,14242.8454584504,15336.6302303339,16803.6898806646,17833.0727412687,18619.663293275,19672.4594369746,...,23645.614315,51717.787008,53068.032546,54648.019342,55542.966073,56451.517501,58605.353851,61391.285624,63341.624270,61161.153539
5,GDP per capita (current US$),NY.GDP.PCAP.CD,South Asia,SAS,274.134279699762,283.432353514784,275.588605513277,292.809393059512,303.084317479609,328.986102468063,...,359.231669,1366.059425,1383.316909,1496.014996,1543.048131,1652.251801,1867.443968,1894.008884,1959.525845,1823.712912
6,GDP per capita (current US$),NY.GDP.PCAP.CD,Sub-Saharan Africa,SSF,863.488017830572,731.069799559328,620.771675465745,572.412628265551,573.209742280261,634.201815887028,...,670.986458,1828.305577,1892.847636,1909.033228,1688.327251,1529.439256,1589.370013,1627.110360,1630.127378,1501.152921
7,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Latin America & Caribbean,LCN,65.4172479152785,65.7896456892946,66.1581777204765,66.5232891734994,66.8858847529164,67.2468001745143,...,68.313726,74.461454,74.632798,74.799047,74.961688,75.122023,75.282087,75.440849,75.601495,75.762428
8,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,East Asia & Pacific,EAS,66.9598301605086,67.2826484463569,67.6153143158554,67.9045653140042,68.1722705012441,68.4095256901199,...,68.927223,74.562833,74.849444,75.126870,75.394614,75.637855,75.868585,76.071528,76.265608,76.443450
9,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Europe & Central Asia,ECS,70.7234136307739,70.7928574412493,70.9436454744406,71.1566237905595,71.642546774868,71.8600094176492,...,72.051298,76.622614,76.956253,77.283115,77.240549,77.595641,77.789957,77.909253,78.159127,77.390450
10,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Middle East & North Africa,MEA,59.5027477716427,60.093075714938,60.8008353822986,61.6160925780423,62.4880818735532,63.3829280850712,...,65.769986,72.931661,73.132397,73.326438,73.514845,73.710771,73.899818,74.088833,74.270874,74.447734
11,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,North America,NAC,74.4981547140922,74.620261500748,74.7253891177811,74.7402450345396,74.8013795712664,74.958115597837,...,75.435045,79.031478,79.042210,79.138083,79.012114,78.877335,78.879092,78.986791,79.123365,77.741163
12,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,South Asia,SAS,54.8412670399875,55.2417703595369,55.6269286799602,56.0089444209291,56.400069740835,56.8052358433031,...,58.144801,67.646338,68.007715,68.340203,68.641901,68.916158,69.171328,69.412270,69.643617,69.867847
13,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Sub-Saharan Africa,SSF,49.0746277945501,49.3628069423566,49.6258772171756,49.8528967894437,50.0304759400247,50.1515042865107,...,50.214574,58.149578,58.801386,59.404797,59.952831,60.442394,60.880016,61.273032,61.627452,61.951109
14,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Latin America & Caribbean,LCN,3.98805725664336,3.88707836467621,3.78718576653496,3.68906234448764,3.59397585761243,3.50292618768584,...,3.257018,2.141893,2.122330,2.103294,2.084450,2.065415,2.046015,2.027393,2.008829,1.990440
15,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,East Asia & Pacific,EAS,2.8669373241978,2.84539436149707,2.83626500175216,2.82848266742291,2.80305350873593,2.75924805928471,...,2.471930,1.828415,1.824645,1.827138,1.830452,1.828999,1.825348,1.822445,1.817476,1.811672
16,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Europe & Central Asia,ECS,2.14104909003744,2.13109176632978,2.10632046415852,2.09088666775663,2.09718027601792,2.09157804416229,...,1.957932,1.740031,1.730166,1.757295,1.764916,1.771893,1.729529,1.719219,1.701469,1.688349
17,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Middle East & North Africa,MEA,6.10130937246125,6.01611705560981,5.91239516123999,5.78691645390361,5.63592640419986,5.46451857834441,...,4.877631,2.910690,2.910272,2.904219,2.889412,2.866927,2.839227,2.808926,2.776094,2.742072
18,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,North America,NAC,1.81353279898541,1.78693133091279,1.79065588395244,1.82642225651168,1.82107836625159,1.85252971181087,...,2.055206,1.854092,1.831411,1.836955,1.818955,1.797245,1.742694,1.706160,1.681839,1.613192
19,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,South Asia,SAS,4.98877173326195,4.91728331663826,4.84000299858925,4.75688463092474,4.66827054179394,4.57660724435122,...,4.299897,2.611199,2.555691,2.508767,2.470079,2.438061,2.410617,2.384748,2.359413,2.335386
20,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Sub-Saharan Africa,SSF,6.73407527651925,6.70745068704066,6.67435826694695,6.63513059320313,6.58927033411467,6.53630356955844,...,6.347730,5.128318,5.058327,4.986266,4.912890,4.838661,4.765177,4.693213,4.623105,4.555482
21,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,Latin America & Caribbean,LCN,..,..,..,..,..,..,...,43.400000,16.900000,16.400000,15.900000,15.500000,15.600000,14.900000,14.600000,14.200000,13.800000
22,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,East Asia & Pacific,EAS,..,..,..,..,..,..,...,43.700000,15.700000,15.000000,14.300000,13.600000,13.000000,12.400000,11.900000,11.500000,11.000000
23,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,Europe & Central Asia,ECS,..,..,..,..,..,..,...,24.700000,9.200000,8.800000,8.400000,8.100000,7.700000,7.400000,7.100000,6.800000,6.500000
24,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,Middle East & North Africa,MEA,..,..,..,..,..,..,...,50.100000,21.800000,21.400000,20.800000,20.300000,19.700000,19.000000,18.600000,18.200000,17.800000
25,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,North America,NAC,..,..,..,..,..,..,...,9.200000,5.900000,5.900000,5.800000,5.700000,5.600000,5.600000,5.500000,5.400000,5.300000
26,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,South Asia,SAS,..,..,..,..,..,..,...,92.000000,44.600000,42.800000,41.100000,39.300000,37.700000,36.100000,34.500000,33.100000,31.800000
27,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,Sub-Saharan Africa,SSF,..,..,..,..,..,..,...,107.000000,61.400000,59.900000,58.400000,57.100000,55.700000,54.300000,52.900000,51.600000,50.300000